* {
    box-sizing: border-box;
    margin: 0%;
}


body {
    font-family: "Apple Symbols";
    background-color: whitesmoke;
    text-align:     justify;
    text-justify: inter-word;
    height: 100%;
}

/*=================================
        COL WIDTHS (GRID LAYOUT)
=================================*/

[class*="col-"] {
    float: left;
    padding: 5px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*====================
        NAVIGATION
=====================*/

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    z-index: 100;
    position: fixed;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-left: 20%;
    padding-right:20%;
    /*padding: 0 15%;*/
    /*background-color: rgba(0,0,0,.5);*/

}


.activeColor {
    background-color: rgba(0,0,0,1);

    transition: all 0.2s ease-in-out;
    }

.logo {
    display: block;
    height: 60px;
    /*width: 100px;*/
    padding: 0;
    float: left;
    content: url("../imgs/logo.jpg");
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul{
    padding: 0;
    margin:  0;
    list-style: none;
    display: inline-block;
}


/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    padding-top: 5px;
    list-style: none;
    display:inline-block;
    float: left;

}

nav ul li li{
    background-color: rgba(0,0,0,.4);

}

/* Styling the links */
nav a {
    display:block;
    padding: 18px 20px;
    color:#FFF;
    font-size: 15px;
    text-decoration:none;
}

/* Background color change on Hover */
nav a:hover {
    font-weight: 600;
    text-decoration: none;
    color: white;
}



nav ul li ul li:hover { background-color: rgba(169,169,169,.6);}


/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    margin-top: 4px;
    z-index: inherit;

}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:150px;
    margin-top: 0px;
    padding-top: 0px;
    float:none;
    display:list-item;
    position: relative;

}
nav ul ul li:last-child, nav ul ul li:last-child a:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}



/*=======================
        FOOTER
========================*/
.main_footer{
    padding: 0% 20%;
    text-align: center;
    margin-bottom: 0%;
    background-color: black;
    font-size: 12px;
    height: auto ;
    color: white;
    position: absolute;

}



/*=================================
       MEDIA QUERIES
=================================*/

@media all and (max-width : 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
        display: inline;
    }


    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Styling the toggle lable */
    .toggle {
        display: block;
        background-color: #000000;
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;

    }

    nav ul li:hover{
        font-weight: 300;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        font-weight: 300;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display:block;
        width: 94%;
    }

}





/*=========================
  Icons
 ==========================*/


ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;

}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*==========================
 HEADER SOCIAL ICONS
 ==========================*/

.social-network a.icoFacebook:hover {

    background-color:#3B5998;
}

.social-network a.icoYouTube:hover {
    background-color:#bb0000;
}

.social-network a.icoInstagram:hover {
    background-color: #bc2a8d;
}

.social-network a.icoSnapChat:hover {
    background-color: #fffc00;

}

.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}

.social-network a.icoSoundCloud:hover {
    background-color: #ff3a00;
}


.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYouTube:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoSnapChat:hover i, .social-network a.icoSoundCloud:hover i{
    color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    padding: 5px;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 30px;
    height: 30px;
    font-size:15px;
}
.social-circle li i {
    margin:0;
    line-height: 5px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
}


/***************************
           LINK
*************************** */

.link_menu{
    background-size: 100%;
    height: 15vh;
    background-blend-mode:darken;
    background-color: rgba(0,0,0,.2);

    color: white;
    width: 17%;
    border: 2px solid black;
    display: inline-block;
    margin: 1%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.link_menu:hover{
    width: 17%;
    height: 20vh;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.link_menu h2{
    font-size: 25px;
    padding: 8% 0;

}

/*=======================
 -        SUBTITLE
 ========================*/

.subtitle{
    margin-top: 70px;
    background-image: url("../imgs/guitarsorgan.jpg");
    height: 100px;
    color: white;
    width: 100%;
    border: 2px solid black;
}

.subtitle h2{
    font-size: 40px;
    padding: 4px 70px;
}